.schema-dialog-query-table{
    form{
        margin-bottom:0 !important;
    }
    .title-field-level-one{
        display:none
    }
    .ant-form-item-label{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .title-child-layout-inner{
        & > div{
            &:first-child{
                border-top:none !important;
            }
        }
    }
    .whole-schema-layout{
        margin-bottom:15px !important;
    }
    .ant-form-item-label{
        padding-left:10px;
    }
    input{
        box-shadow:none !important;
    }
    .ant-input-number{
        border:none;
        box-shadow:none !important;
        height:100% !important;
        input{
            height:auto;
        }
        .ant-input-number-handler-wrap{
            display:none;
        }
    }
    .ant-form-item-control{
            line-height:40px !important;
        }
}