.antd-form {
	// padding: 20px;
	position: relative;
	//background-color: white
}


.antd-form-title {
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	padding: 20px 0px;
	color: #666666;
}

.antd-form-sub-btn {
	//padding: 0 0 20px 20px;
}