.current-account{
    .customer-title{
        font-size: 18px;
        line-height: 27px;
    }
    .title-field-level-one{
        display: none;
    }
    .schemaform{
        margin-top:20px;
    }
    .whole-schema-layout .whole-schema-inner > div{
        border-color:#edecec;
    }
}